<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.oscim.android.test"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Samples"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Animator2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AtlasMarkerOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AtlasMultiTextureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AtlasThemeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".BitmapTileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ClusterMarkerOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GettingStarted"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GdxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".JeoIndoorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LayerGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LineTexActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LocationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LocationTextureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapEventLayer2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeActivity$MapFilePicker"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeActivity$ThemeFilePicker"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgePolyLabelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeS3DBActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeStyleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapzenGeojsonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapzenMvtActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MarkerOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MultiMapViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".NextzenGeojsonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".NextzenMvtActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".OpenMapTilesMvtActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".OSciMapS3DBActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PathOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PoiSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PoiSearchActivity$PoiFilePicker"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".POTTextureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ReverseGeocodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".RotateMarkerOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SimpleMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ThemeStylerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".VectorLayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
