<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.oscim.android.test"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".Samples"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BitmapTileMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".JeoIndoorMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LayerGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LineTexActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LocationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapboxMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MapsforgeMapActivity$MapFilePicker"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MarkerOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MultiMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".OsmJsonMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PathOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".S3DBMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SimpleMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ThemeStylerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".VectorLayerMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
