*/bin/*
*/gen/*
*/obj/*
target/
build/
*.o
*.so
*.jar
*.class
/vtm/jni/jni-headers/
/vtm/jni/build*
/vtm/jni/*.mk
/vtm/jni/memcpy_wrap.c
/vtm/jni/poly2tri/
/vtm/libs/
/vtm-android-example/assets/
/vtm-gdx-desktop/assets/
/vtm-gdx-html/war/
/vtm-gdx-html/gwt-unitCache
/vtm-gdx-ios/
/vtm-spatialite/
/vtm-spatialite-android/
/vtm-examples/
/vtm-osmscout/
/vtm-stuff/
/tmp/
/themes/
/vtm/assets/themes/

.gradle
.idea
*.iml

.settings
.classpath
.project

local.properties

