*/bin/*
*/gen/*
*/obj/*
*.o
*.jar
*.class
vtm/jni/jni-headers/
vtm/jni/build*
vtm/jni/*.mk
vtm/jni/memcpy_wrap.c
vtm/jni/poly2tri/
vtm/libs/
vtm-gdx-html/war/assets/
vtm-gdx-html/war/WEB_INF/
vtm-gdx-html/war/org.oscim.gdx.GwtDefinition/
vtm-gdx-html/gwt-unitCache
vtm-gdx-ios/
vtm-spatialite/
vtm-spatialite-android/
vtm-ext-libs/
tmp/
themes/
vtm/assets/freizeitkarte/
vtm/jni/target/
